/* adding some google fonts! */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');
/* setting up scc file */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family:'Lato', sans-serif;
    background-image: url("/hacker-4031973_1920.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
}

#container {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    background:rgba(100, 400, 350, 0.28);
    opacity: .9;
}

.panel {
    max-width: 80%;
    margin: 5rem auto;
    padding: 4.5rem;
    background-color: #c7c7c7c7;
}

.panel__button {
    background: rgba(71.8, 94.9, 47.5, .9);
    height: 3rem;
    width: 25%;
    border: none;
    outline: none;
    margin-top: 3.5rem;
    margin-right: 4rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.4rem;

    transition: all .2s;
}

.panel__button:hover {
    transform: translateY(-1px);
}

.panel__button:active {
    transform: translateY(.5px)

}


.panel__input {
    margin: 2rem 0;
    border-radius: 1rem;
    width: 30%;
    height: 3rem;
    text-align: center;
    border: none;
    outline: none;
}

.header {
    margin-bottom: 2rem;
}

.activeButton {
    background-color: black;
}

.counter,
#guessLog {
    display: inline-block;
    background-color: #CEEFE1;
}

#answer {
    margin-top: 1rem;
}